<!DOCTYPE html>

<html>

<head>
<style>
h1 {text-align: center;}
p {text-align: center;}
div {text-align: center;}

</style>

</head>

<body>

<p style="text-align:center;"><img src="../static/pitt_nivesh.jpg" alt="Natural" /></p>

<p><b>ENTER USER LOG-IN INFO.</b></p>

<form action="{{ url_for('user_authentication') }}" method="POST">

<form method="POST">
	
	<div style="text-align:center;">
    
	<p><b>ENTER EMAIL</b></p>
	<input name="email"><br>
	<p><b>ENTER Password</b></p>
	<input name="password"><br>
	<br>
<input type="submit" class="myButton" value="Log In">
</div>

</form>
<br>
<div style="text-align:center;">

</div>
<div style="text-align:center;">
{{ what }}<br>
<br>
</div>

</body>



</html>