<!DOCTYPE html>

<html>

<head>
<style>
h1 {text-align: center;}
p {text-align: center;}
div {text-align: center;}
h2 {
    display: inline;
}

</style>
<!--<h1>PITT NIVESH INC.</h1>-->
<p style="text-align:center;"><img src="pitt_nivesh.jpg", align='center'></p>
</head>

<body>

<p><b>HOME PAGE</b></p>

<div style="text-align:center;">
<p><b>Welcome</b></p>

{{ user_name_what }}<br>
<br>
</div>



<div style="text-align:center;">

<a href="/stock_search" align="center"><center><input type="button" value="Search Stocks"><h2></center></h2></a>



<br>

<a href="/log_out_to_user_reg" align="center"><center><input type="button" value="Log Out"></center></a>

</div>


</body>



</html>