<!DOCTYPE html>

<html>

<head>
<style>
h1 {text-align: center;}
p {text-align: center;}
div {text-align: center;}

table, th, td {
  border: 1px solid black;
}

</style>

</head>

<body style="background-color:lightblue;">
<p style="text-align:center;"><img src="../static/pitt_nivesh.jpg" alt="Natural" /></p>

<div style="text-align:center;">
<p><b>Welcome</b></p>

{{ user_name_what }}<br>
<br>
</div>

<p><b>YOUR TRANSACTIONS</b></p>


<div style="text-align:center;">
<br>
<a href="/home_page" align="center"><center><input type="button" value="Return Home"></center></a>
</div>



{% block what_collab %}
<div style="text-align:center;">
<table style="width:100%">
<tr>
    <th>Transaction ID</th>
    <th>Transaction Amount</th>
	<th>Transaction Type</th>
	<th>Remaining Balance after Transaction</th>
	<th>Date</th>

	
	
 </tr>
  {% for index in range( what_collab|length ) %}
		<tr>
			<td>{{what_collab[index]['transaction_id']}}</td>
			<td>{{what_collab[index]['transaction_amount']}}</td>
			<td>{{what_collab[index]['transaction_type']}}</td>
			<td>{{what_collab[index]['remaining_balance']}}</td>
			<td>{{what_collab[index]['date_time']}}</td>
			
			
		</tr>
		
{% endfor %}
</div>

{% endblock %}


</body>



</html>